.info-container {
    padding: 20px;
  }

  .chart, .left-map {
    display: flex;
    justify-content: center;  /* 가로 가운데 정렬 */
    align-items: center;      /* 세로 가운데 정렬 */
    font-weight: bold;
    font-size: 16px;          /* 필요 시 폰트 사이즈 조정 */
    text-align: center;       /* 텍스트 가운데 정렬 (긴 문장 대비) */
  }
  
  
  .top-section {
    display: flex;
    align-items: stretch; /* 세로선이 가로선과 정확히 닿게 */
  }
  
  .left-map {
    flex: 1;
    min-height: 100%; 

  }
  
  .vertical-divider {
    width: 1px;
    background-color: #aaa;
    margin-top: 80px;
  }
  
  .right-top {
    flex: 2;
    display: flex;
    flex-direction: column;
  }
  
  .top-charts,
  .bottom-charts {
    display: flex;
    justify-content: space-between;
  }
  
  .chart {
    flex: 1;
    margin: 8px;
    height: 250px; 
  }
  
  .horizontal-divider {
    height: 1px;
    background-color: #aaa;
    width: 60%; /* 원하는 만큼 조절 */
    margin-left: 0; /* 세로선에 딱 붙게 */
  }
  